//
   Created by jaric on 12.12.2014.
doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title= "BB"
        script(data-main="javascripts/bb", src="javascripts/require.js")

        script(src="javascripts/angular.js")
        script(src='/javascripts/ui-bootstrap-tpls-0.12.0.js')

        script(src="/javascripts/BBApp/jBBApp.js")
        script(src="/javascripts/BBApp/jBBControllers.js")

        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body(ng-app="jBBApp" ng-controller="jBBController as BBCtrl")
        div(id="progressBarHolder" class="progress progress-striped active" ng-show="BBCtrl.getLoading()")
            div(id="progressBar" class="progress-bar" style="width:45%")
        div(id="anchorsHolder" ng-hide="BBCtrl.getDrawning()")
        //-
            | test
            p
                a(href='#', onclick='require("BB").BBup.run()') Run calculations
            p
                a(href='#', onclick='(new require("BB").Datatone()).breakCalculation = true') Stop calculations

            div(id='Stats-output')
