//
   Created by jaric on 13.07.2016.

doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title= "BBL client side calculations"
        script(data-main="javascripts/BBLclientCalc", src="/javascripts/require.js")

        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body

        div(ng-controller="jClientInputCalcController as InputCalcCtrl")
            div(class="container" ng-show="InputCalcCtrl.visibility")
                div(class="row")
                    div(class="col-xs-12 col-sm-6")
                        div
                            div
                                canvas(id="objectShape" width="600" height="600")
                            div
                                canvas(id="waveShape" width="600" height="600")

                    div(class="col-xs-12 col-sm-6")
                        form(name="inputForm")
                            fieldset
                                //-ng-class="{'btn-default': !inputForm.$valid, 'btn-primary': inputForm.$valid}"
                                //-ng-click="inputForm.$valid && InputCalcCtrl.startCalculactions()"
                                a(
                                    class="btn-lg col-xs-12 pull-right text-center btn-primary"
                                    ng-click="InputCalcCtrl.startCalculactions()"
                                ) Start calculations
                            h4 Parameters for calculation
                            fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 TM ({{ (InputCalcCtrl.inputParams.TM * InputCalcCtrl.data.LC * 1e3).toFixed(2) }} ms}})
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.TM" type="number" class="form-control input-md" min="1" max="120" placeholder="TM" required)
                                        span(class="input-group-addon input-md") s
                                h4(class='col-xs-12 text-warning' ng-show="InputCalcCtrl.inputParams.TM>30") Use firefox for TM > 30s
                            fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 Angle
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.ALFA" type="number" class="form-control input-md" min="0" max="60" placeholder="Angle" required)
                                        span(class="input-group-addon input-md") °

                            //-fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 INDEX of object
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.INDEX" type="number" class="form-control input-md" min="0" max="5" placeholder="INDEX" required)

                            //-fieldset
                                //- MOVED TO startCalculactions() because of XDESTR = Layers[0].H
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 XDESTR
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.XDESTR" type="number" class="form-control input-md" min="0" max="20" placeholder="XDESTR" required)
                                        span(class="input-group-addon input-md") m

                            fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 Number of Layers
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.NL" type="number" class="form-control input-md" min="1" max="4" placeholder="NL" required)
                            table(class="table table-striped table-hover")
                                thead
                                    tr
                                        th #
                                        th E, Па
                                        th ρ, кг/м³
                                        th ν
                                        th H, м
                                tbody
                                    tr(ng-repeat="layer in InputCalcCtrl.inputParams.layers | limitTo: InputCalcCtrl.inputParams.NL track by $index")
                                        td
                                            span {{$index+1}}
                                        td
                                            input(ng-model="layer.E" type="number" class="form-control input-sm" placeholder="E" required)
                                        td
                                            input(ng-model="layer.RO" type="number" class="form-control input-sm" placeholder="RO" required)
                                        td
                                            input(ng-model="layer.NU" type="number" class="form-control input-sm" placeholder="NU" required)
                                        td
                                            input(ng-model="layer.H" type="number" class="form-control input-sm" placeholder="H" required)
                                        td
                                            div(class="dropdown" ng-class="{'open': dropdownToggle }" ng-click="dropdownToggle = !dropdownToggle")
                                                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false")
                                                    span(class="caret")
                                                ul(class="dropdown-menu pull-right" role="menu")
                                                    li
                                                        a(ng-click="layer.E = 200e9; layer.RO = 7800; layer.NU = 0.28;") Сталь
                                                    li
                                                        a(ng-click="layer.E = 105e9; layer.RO = 2760; layer.NU = 0.26;") Грунт (Плато Расвумчорр)
                                                        // Протосеня, Вербило
                                                    li
                                                        a(ng-click="layer.E = 49.66e9; layer.RO = 2800; layer.NU = 0.22;") Гранит
                                                        // Карпенко
                                                        //- var c = 4500, p = 2800, n = 0.22; var E = (c*c*p*(1+n)*(1-2*n))/(1-n);


                            div(class="panel panel-default")
                                div(class="panel-body")
                                    div(class="row")
                                        div(class="col-xs-12")
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 EPUR
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.EPUR" type="number" class="form-control input-md" min="0" max="2" placeholder="EPUR" required)

                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 S0
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.S0" ng-disabled="InputCalcCtrl.inputParams.EPUR!=2 || !InputCalcCtrl.inputParams.needRealValues" type="number" class="form-control input-md" placeholder="S0" required)
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 BETTA
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.BETTA" ng-disabled="InputCalcCtrl.inputParams.EPUR!=2" type="number" class="form-control input-md" placeholder="BETTA" required)
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 A1
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.A1" ng-disabled="InputCalcCtrl.inputParams.EPUR!=2" type="number" class="form-control input-md" placeholder="A1" required)
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 A2
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.A2" ng-disabled="InputCalcCtrl.inputParams.EPUR!=2" type="number" class="form-control input-md" placeholder="A2" required)


                            //-div
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 EPUR
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.EPUR" type="number" class="form-control input-md" min="0" max="2" placeholder="EPUR" required)

                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 S0
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.S0" type="number" class="form-control input-md" placeholder="S0" required)
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 BETTA
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.BETTA" type="number" class="form-control input-md" placeholder="BETTA" required)
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 A1
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.A1" type="number" class="form-control input-md" placeholder="A1" required)
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 A2
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.A2" type="number" class="form-control input-md" placeholder="A2" required)


                            div(class="panel panel-default")
                                div(class="panel-body")
                                    div(class="row")
                                        div(class="col-xs-12")
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetN
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetN" type="number" class="form-control input-md" min="2" max="4" placeholder="rtetN" required)
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetA
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetA" type="number" class="form-control input-md" min="1" max="10" placeholder="rtetA" required)
                                                        span(class="input-group-addon input-md") m
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetB
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetB" type="number" class="form-control input-md" min="1" max="10" placeholder="rtetB" required)
                                                        span(class="input-group-addon input-md") m
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetN1
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetN1" type="number" class="form-control input-md" min="2" max="4" placeholder="rtetN1" required)
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetN2
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetN2" type="number" class="form-control input-md" min="2" max="4" placeholder="rtetN2" required)
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetC
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetC" type="number" class="form-control input-md" min="1" max="10" placeholder="rtetC" required)
                                                        span(class="input-group-addon input-md") m
                                            //-fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetVortex
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetVortex" type="number" class="form-control input-md" min="0" max="20" placeholder="rtetVortex" required)
                                                        span(class="input-group-addon input-md") °
                                            //-fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetNoEdge
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetNoEdge" type="checkbox" class="form-control input-md" placeholder="rtetNoEdge")

                            //-div
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 rtetN
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.rtetN" type="number" class="form-control input-md" min="1" max="8" placeholder="rtetN" required)
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 rtetA
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.rtetA" type="number" class="form-control input-md" min="1" max="10" placeholder="rtetA" required)
                                            span(class="input-group-addon input-md") m
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 rtetB
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.rtetB" type="number" class="form-control input-md" min="1" max="10" placeholder="rtetB" required)
                                            span(class="input-group-addon input-md") m
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 rtetN1
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.rtetN1" type="number" class="form-control input-md" min="1" max="6" placeholder="rtetN1" required)
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 rtetN2
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.rtetN2" type="number" class="form-control input-md" min="1" max="6" placeholder="rtetN2" required)
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 rtetC
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.rtetC" type="number" class="form-control input-md" min="0.1" max="10" placeholder="rtetC" required)
                                            span(class="input-group-addon input-md") m
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 rtetVortex
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.rtetVortex" type="number" class="form-control input-md" min="0" max="20" placeholder="rtetVortex" required)
                                            span(class="input-group-addon input-md") °
                                fieldset
                                    div(class="form-group")
                                        label(class="col-xs-6 control-label")
                                            h4 rtetNoEdge
                                        div(class="col-xs-6 input-group")
                                            input(ng-model="InputCalcCtrl.inputParams.rtetNoEdge" type="checkbox" class="form-control input-md" placeholder="rtetNoEdge")
                            fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 realValues
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.needRealValues" type="checkbox" class="form-control input-md" placeholder="needRealValues")


        h3(id="currentTime")
        div(ng-controller="jClientCalcController as CalcCtrl")
            div(class="container" ng-show="true")

                //-div(class="row")
                    div(style="float: right;")
                        h5(ng-click="CalcCtrl.calcAllWatchers()") calc all watchers

                div(class="row")
                    //-h3 S0 = {{CalcCtrl.data.inputData.needRealValues ? CalcCtrl.data.S0 *CalcCtrl.data.C2*CalcCtrl.data.RC2*1E-06 : CalcCtrl.data.S0}}
                    h3(id="currentS0") S0 = {{CalcCtrl.data.inputData.needRealValues ? CalcCtrl.data.S0 * CalcCtrl.data.C0 * CalcCtrl.data.RC0 * 1e-6 : CalcCtrl.data.S0}}
                div(class="row")
                    h3(id="currentGeomprocS") S = {{CalcCtrl.data.geomprocS}}
                div(class="row")
                    h3(id="currentGeomprocR") R = {{CalcCtrl.data.geomprocR}}

                //-div(class="row")
                    a(class="btn btn-primary" ng-click="this.showCavform = !this.showCavform") BBLdat/_Cavform.dat (expand/collapse)
                    table(ng-show="this.showCavform" class="table table-striped table-hover")
                        tbody
                            tr(ng-repeat="cavStr in CalcCtrl.data.files['BBLdat/_Cavform.dat'].buffers track by $index")
                                td(ng-repeat="subStr in cavStr.toString().split(' ') track by $index")
                                    span {{subStr}}
