//
   Created by jaric on 30.05.2017.

doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title= "BBLH client side calculations"
        script(data-main="javascripts/BBLHclientCalc", src="/javascripts/require.js")

        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body

        div(ng-controller="jBBLHClientInputCalcController as InputCalcCtrl")
            div(class="container" ng-show="InputCalcCtrl.visibility")
                div(class="row")
                    div(class="col-xs-12 col-sm-6")
                        div
                            div
                                canvas(id="objectShape" width="600" height="600")
                            div
                                canvas(id="waveShape" width="600" height="600")

                    div(class="col-xs-12 col-sm-6")
                        form(name="inputForm")
                            fieldset
                                //-ng-class="{'btn-default': !inputForm.$valid, 'btn-primary': inputForm.$valid}"
                                //-ng-click="inputForm.$valid && InputCalcCtrl.startCalculactions()"
                                a(
                                    class="btn-lg col-xs-12 pull-right text-center btn-primary"
                                    ng-click="InputCalcCtrl.startCalculactions()"
                                ) Start calculations
                            h4 Parameters for calculation
                            fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 TM ({{ (InputCalcCtrl.inputParams.TM * InputCalcCtrl.data.LC * 1e3).toFixed(2) }} ms)
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.TM" type="number" class="form-control input-md" min="1" max="120" placeholder="TM" required)
                                        span(class="input-group-addon input-md") s
                                h4(class='col-xs-12 text-warning' ng-show="InputCalcCtrl.inputParams.TM>30") Use firefox for TM > 30s
                            fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 Angle
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.ALFA" type="number" class="form-control input-md" min="0" max="60" placeholder="Angle" required)
                                        span(class="input-group-addon input-md") °

                            //-fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 INDEX of object
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.INDEX" type="number" class="form-control input-md" min="0" max="5" placeholder="INDEX" required)

                            //-fieldset
                                //- MOVED TO startCalculactions() because of XDESTR = Layers[0].H
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 XDESTR
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.XDESTR" type="number" class="form-control input-md" min="0" max="20" placeholder="XDESTR" required)
                                        span(class="input-group-addon input-md") m

                            fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 Hday
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.HDAY" type="number" class="form-control input-md" min="10" max="1000" placeholder="Hday" required)
                                        span(class="input-group-addon input-md") m
                            fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 StaticTM
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.STATICTM" type="number" class="form-control input-md" min="1" max="100" placeholder="StaticTM" required)
                            fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 OnlyStaticLoad
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.OnlyStaticLoad" type="checkbox" class="form-control input-md" placeholder="OnlyStaticLoad")


                            fieldset
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 Number of Layers
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.NL" type="number" class="form-control input-md" min="1" max="4" placeholder="NL" required)
                            table(class="table table-striped table-hover")
                                thead
                                    tr
                                        th #
                                        th E, Па
                                        th ρ, кг/м³
                                        th ν
                                        th H, м
                                tbody
                                    tr(ng-repeat="layer in InputCalcCtrl.inputParams.layers | limitTo: InputCalcCtrl.inputParams.NL track by $index")
                                        td(class="col-xs-1")
                                            span {{$index+1}}
                                        td(class="col-xs-4")
                                            input(ng-model="layer.E" type="number" class="form-control input-sm" placeholder="E" required)
                                        td(class="col-xs-2")
                                            input(ng-model="layer.RO" type="number" class="form-control input-sm" placeholder="RO" required)
                                        td(class="col-xs-2")
                                            input(ng-model="layer.NU" type="number" class="form-control input-sm" placeholder="NU" required)
                                        td(class="col-xs-2")
                                            input(ng-model="layer.H" type="number" class="form-control input-sm" placeholder="H" required)
                                        td(class="col-xs-1")
                                            div(class="dropdown" ng-class="{'open': dropdownToggle }" ng-click="dropdownToggle = !dropdownToggle")
                                                a(href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false")
                                                    span(class="caret")
                                                ul(class="dropdown-menu pull-right" role="menu")
                                                    li
                                                        a(ng-click="layer.E = 57.9e9; layer.RO = 2700; layer.NU = 0.35;") H1 (57.9e9)
                                                    li
                                                        a(ng-click="layer.E = 12.3e9; layer.RO = 2590; layer.NU = 0.3;") H2 (12.3e9)
                                                    li
                                                        a(ng-click="layer.E = 105e9; layer.RO = 2760; layer.NU = 0.26;") Грунт (Плато Расвумчорр)
                                                        // Протосеня, Вербило
                                                    li
                                                        a(ng-click="layer.E = 49.66e9; layer.RO = 2800; layer.NU = 0.22;") Гранит (49.7e9)
                                                        // Карпенко
                                                        //- var c = 4500, p = 2800, n = 0.22; var E = (c*c*p*(1+n)*(1-2*n))/(1-n);
                                                    li
                                                        a(ng-click="layer.E = 200e9; layer.RO = 7800; layer.NU = 0.28;") Сталь
                                                        // Steel (ASTM-A36) https://www.engineeringtoolbox.com/young-modulus-d_417.html (и Вики)
                                                    //li
                                                        a(ng-click="layer.E = 2.09e9; layer.RO = 7800; layer.NU = 0.28;") Сталь
                                                        // Гарри Абрамович

                                                    li
                                                        a(ng-click="layer.E = 50e9; layer.RO = 2720; layer.NU = 0.11;") Окружающие породы (гнейсы)
                                                        // Козырев А.А. презентация (r3_Kozyrev 2016.pdf) и все что ниже
                                                    li
                                                        a(ng-click="layer.E = 42e9; layer.RO = 2630; layer.NU = 0.25;") Хибиниты (нефилиновые сиениты)
                                                    li
                                                        a(ng-click="layer.E = 80e9; layer.RO = 2790; layer.NU = 0.21;") Ийолит-уртиты
                                                    li
                                                        a(ng-click="layer.E = 65e9; layer.RO = 2600; layer.NU = 0.22;") Рисчорриты
                                                    li
                                                        a(ng-click="layer.E = 55e9; layer.RO = 2920; layer.NU = 0.27;") Апатит-нефелиновые руды
                                                    li
                                                        a(ng-click="layer.E = 45e9; layer.RO = 2700; layer.NU = 0.25;") Лявочорриты
                                                    li
                                                        a(ng-click="layer.E = 70e9; layer.RO = 2800; layer.NU = 0.24;") Фойяиты



                            div(class="panel panel-default")
                                div(class="panel-body")
                                    div(class="row")
                                        div(class="col-xs-12")
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 EPUR
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.EPUR" type="number" class="form-control input-md" min="0" max="2" placeholder="EPUR" required)
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-12 control-label")
                                                        h4 S0 = {{InputCalcCtrl.data.S0 *InputCalcCtrl.data.C0*InputCalcCtrl.data.RC0}} Pa

                                            div(ng-show="InputCalcCtrl.inputParams.EPUR==0")
                                                //h1 S0 = 1
                                                fieldset
                                                    div(class="form-group")
                                                        label(class="col-xs-12 control-label")
                                                            h4 S0 = 1
                                                fieldset
                                                    div(class="form-group")
                                                        label(class="col-xs-12 control-label")
                                                            h4 realValues = false

                                            div(ng-show="InputCalcCtrl.inputParams.EPUR==1")
                                                fieldset
                                                    div(class="form-group")
                                                        label(class="col-xs-6 control-label")
                                                            h4 Distance
                                                        div(class="col-xs-6 input-group")
                                                            input(ng-model="InputCalcCtrl.inputParams.X" type="number" class="form-control input-md" placeholder="sizeOfSource" required)
                                                            span(class="input-group-addon input-md") m
                                                fieldset
                                                    div(class="form-group")
                                                        label(class="col-xs-6 control-label")
                                                            h4 Radius
                                                        div(class="col-xs-6 input-group")
                                                            input(ng-model="InputCalcCtrl.inputParams.RZ" type="number" class="form-control input-md" placeholder="sizeOfSource" required)
                                                            span(class="input-group-addon input-md") m

                                            div(ng-show="InputCalcCtrl.inputParams.EPUR==2")
                                                div(ng-show="InputCalcCtrl.inputParams.needRealValues")
                                                    //fieldset
                                                        div(class="form-group")
                                                            label(class="col-xs-6 control-label")
                                                                h4 S0
                                                            div(class="col-xs-6 input-group")
                                                                input(ng-model="InputCalcCtrl.inputParams.S0" ng-disabled="InputCalcCtrl.inputParams.EPUR!=2 || !InputCalcCtrl.inputParams.needRealValues" type="number" class="form-control input-md" placeholder="S0" required)
                                                                span(class="input-group-addon input-md") 1e5, Па
                                                    fieldset
                                                        div(class="form-group")
                                                            label(class="col-xs-6 control-label")
                                                                h4 Seismic energy
                                                            div(class="col-xs-6 input-group")
                                                                input(ng-model="InputCalcCtrl.inputParams.seismicEventEnergy" ng-disabled="InputCalcCtrl.inputParams.EPUR!=2 || !InputCalcCtrl.inputParams.needRealValues" type="number" class="form-control input-md" placeholder="seismicEventEnergy" required)
                                                                span(class="input-group-addon input-md") J
                                                    fieldset
                                                        div(class="form-group")
                                                            label(class="col-xs-6 control-label")
                                                                h4 Size of source
                                                            div(class="col-xs-6 input-group")
                                                                input(ng-model="InputCalcCtrl.inputParams.sizeOfSource" ng-disabled="InputCalcCtrl.inputParams.EPUR!=2 || !InputCalcCtrl.inputParams.needRealValues" type="number" class="form-control input-md" placeholder="sizeOfSource" required)
                                                                span(class="input-group-addon input-md") m
                                                fieldset(ng-hide="InputCalcCtrl.inputParams.needRealValues")
                                                    div(class="form-group")
                                                        label(class="col-xs-12 control-label")
                                                            h4 S0 = 1

                                                fieldset
                                                    div(class="form-group")
                                                        label(class="col-xs-6 control-label")
                                                            h4 BETTA
                                                        div(class="col-xs-6 input-group")
                                                            input(ng-model="InputCalcCtrl.inputParams.BETTA" ng-disabled="InputCalcCtrl.inputParams.EPUR!=2" type="number" class="form-control input-md" placeholder="BETTA" required)
                                                fieldset
                                                    div(class="form-group")
                                                        label(class="col-xs-6 control-label")
                                                            h4 A1
                                                        div(class="col-xs-6 input-group")
                                                            input(ng-model="InputCalcCtrl.inputParams.A1" ng-disabled="InputCalcCtrl.inputParams.EPUR!=2" type="number" class="form-control input-md" placeholder="A1" required)
                                                fieldset
                                                    div(class="form-group")
                                                        label(class="col-xs-6 control-label")
                                                            h4 A2
                                                        div(class="col-xs-6 input-group")
                                                            input(ng-model="InputCalcCtrl.inputParams.A2" ng-disabled="InputCalcCtrl.inputParams.EPUR!=2" type="number" class="form-control input-md" placeholder="A2" required)


                            div(class="panel panel-default")
                                div(class="panel-body")
                                    div(class="row")
                                        div(class="col-xs-12")
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetN
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetN" type="number" class="form-control input-md" min="2" max="4" placeholder="rtetN" required)
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetA
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetA" type="number" class="form-control input-md" min="1" max="10" placeholder="rtetA" required)
                                                        span(class="input-group-addon input-md") m
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetB
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetB" type="number" class="form-control input-md" min="1" max="10" placeholder="rtetB" required)
                                                        span(class="input-group-addon input-md") m
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetN1
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetN1" type="number" class="form-control input-md" min="2" max="4" placeholder="rtetN1" required)
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetN2
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetN2" type="number" class="form-control input-md" min="2" max="4" placeholder="rtetN2" required)
                                            fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetC
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetC" type="number" class="form-control input-md" min="1" max="10" placeholder="rtetC" required)
                                                        span(class="input-group-addon input-md") m
                                            //-fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetVortex
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetVortex" type="number" class="form-control input-md" min="0" max="20" placeholder="rtetVortex" required)
                                                        span(class="input-group-addon input-md") °
                                            //-fieldset
                                                div(class="form-group")
                                                    label(class="col-xs-6 control-label")
                                                        h4 rtetNoEdge
                                                    div(class="col-xs-6 input-group")
                                                        input(ng-model="InputCalcCtrl.inputParams.rtetNoEdge" type="checkbox" class="form-control input-md" placeholder="rtetNoEdge")

                            fieldset(ng-hide="InputCalcCtrl.inputParams.EPUR==0")
                                div(class="form-group")
                                    label(class="col-xs-6 control-label")
                                        h4 realValues
                                    div(class="col-xs-6 input-group")
                                        input(ng-model="InputCalcCtrl.inputParams.needRealValues" type="checkbox" class="form-control input-md" placeholder="needRealValues")


        div(class="container")
            div(class="row")
                h3(id="currentTime")
        div(ng-controller="jClientCalcController as CalcCtrl")
            div(class="container" ng-show="true")

                //-div(class="row")
                    div(style="float: right;")
                        h5(ng-click="CalcCtrl.calcAllWatchers()") calc all watchers

                div(class="row")
                    //-h3 S0 = {{CalcCtrl.data.inputData.needRealValues ? CalcCtrl.data.S0 *CalcCtrl.data.C2*CalcCtrl.data.RC2*1E-06 : CalcCtrl.data.S0}}
                    h3(id="currentS0") S0 = {{CalcCtrl.data.inputData.needRealValues ? CalcCtrl.data.S0 * CalcCtrl.data.C0 * CalcCtrl.data.RC0 * 1e-6 : CalcCtrl.data.S0}}
                div(class="row")
                    h3(id="currentGeomprocS") S = {{CalcCtrl.data.geomprocS}}
                div(class="row")
                    h3(id="currentGeomprocR") R = {{CalcCtrl.data.geomprocR}}
                div(class="row")
                    div(class="progress")
                        div(id="currentProgress" class="progress-bar progress-bar-success" style="width: 0%")

                //-div(class="row")
                    a(class="btn btn-primary" ng-click="this.showCavform = !this.showCavform") BBLHdat/_Cavform.dat (expand/collapse)
                    table(ng-show="this.showCavform" class="table table-striped table-hover")
                        tbody
                            tr(ng-repeat="cavStr in CalcCtrl.data.files['BBLHdat/_Cavform.dat'].buffers track by $index")
                                td(ng-repeat="subStr in cavStr.toString().split(' ') track by $index")
                                    span {{subStr}}
