//
   Created by jaric on 30.05.2017.

doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title= "BBLH view"
        script(data-main="javascripts/BBLHviewBootstrap", src="/javascripts/require.js")
        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        div(ng-controller="jBBLHfileListController as fileList" ng-show="fileList.visible")
            input(ng-model="fileList.searchString" type="text" class="form-control" placeholder="Search")

            div(ng-repeat="file in fileList.allFiles | orderBy: '-path' | filter: { path: fileList.searchString } track by $index ")
                h4
                    a(ng-click="fileList.loadDataFile(file)") {{file.path.substr(22, file.path.length - 22 - 5)}}


        div(ng-controller="jBBLHloadingController as loading" ng-show="loading.visible")
            img(src="/images/30_2.gif" width="100%")

        div(ng-controller="jBBLHcanvasHolderController as canvasHolder" ng-show="canvasHolder.visible")
            //-div(id="statsHolder")
            div(class="container")
                div(class="row")
                    div(class="text-center")
                        div(id="mainCanvasHolder")
                        div(id="mainCanvasHolderCover")

        div(ng-controller="jBBLHscrollController as scroll" ng-show="scroll.visible")
            //-input(id="scrollValue" type="text" class="input-sm" ng-model="scroll.scrollPos")
            h3(id="scrollValue") {{scroll.scrollPos ? scroll.scrollPos : "0.00 ms"}}
            div(id="timeScroll")
                div(id="timeInner")
                    span &nbsp;

        div(ng-controller="jBBLHcanvasController as canvasCTRL" ng-show="canvasCTRL.visible")
            //-a(id="buttonHideStats" class="btn btn-default" ng-click="canvasCTRL.hideStats()") X

            div(id="settingsPanel")
                div(class="col-xs-11 col-sm-7 col-md-5 col-lg-4")
                    div(class="panel panel-default")
                        div(class="panel-heading" ng-click="canvasCTRL.data.settings.isShown = !canvasCTRL.data.settings.isShown")
                            div(class="panel-title" )
                                div
                                    span(class="glyphicon glyphicon-align-left" aria-hidden="true")
                                    span  Settings
                        div(collapse="!canvasCTRL.data.settings.isShown")
                            div(class="panel-body")
                                //-div(class="container")

                                div(class="row")
                                    span(class="col-xs-3") Scheme:
                                    div(class="col-xs-9")
                                        div(class="btn-group btn-group-sm btn-group-justified")
                                            a(ng-repeat="schemeIndex in canvasCTRL.dataNames" class="btn btn-primary btn-sm" style="border-left-width: 0px;" ng-click="canvasCTRL.changeSchemeIndex($index)" ng-class="{'btn-success': $index==canvasCTRL.data.settings.schemeIndex}" ng-show="canvasCTRL.data.memout[$index]") {{schemeIndex}}


                                div(class="row")
                                    span(class="col-xs-3") Visualization:
                                    div(class="col-xs-9")
                                        div(class="btn-group btn-group-sm btn-group-justified")
                                            a(ng-repeat="visualisationSchemeIndex in ['Rnbw', 'HSV', 'RedWB', 'RZero']" class="btn btn-sm btn-primary" ng-click="canvasCTRL.changeVisualisationSchemeIndex($index)" ng-class="{'btn-success': $index==canvasCTRL.data.settings.visualisationSchemeIndex}") {{visualisationSchemeIndex}}

                                br

                                div(class="row")
                                    span(class="col-xs-3") Legend:

                                    div(class="col-xs-9" ng-show="canvasCTRL.data.settings.visualisationSchemeIndex == 2")
                                        div(class="btn-group btn-group-sm btn-group-justified" )
                                            div(class="btn btn-sm btn-primary btn-success" style="background-color: #22c; border-color: #22c;") min
                                            div(class="btn btn-sm btn-primary btn-success" style="background-color: #ccc; border-color: #ccc;")
                                            div(class="btn btn-sm btn-primary btn-success" style="background-color: #c22; border-color: #c22;") max

                                    div(class="col-xs-9" ng-show="canvasCTRL.data.settings.visualisationSchemeIndex == 3")
                                        div(class="btn-group btn-group-sm btn-group-vertical"   ng-show="canvasCTRL.data.settings.legendVertical" ng-click="canvasCTRL.data.settings.legendVertical=!canvasCTRL.data.settings.legendVertical")
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #c2c; border-color: #c2c;") {{(canvasCTRL.data.cmin).toExponential(2)}}
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #22c; border-color: #22c;") {{(0.667*canvasCTRL.data.cmin).toExponential(2)}}
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #2cc; border-color: #2cc;") {{(0.333*canvasCTRL.data.cmin).toExponential(2)}}
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #ccc; border-color: #ccc;") 0
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #2c2; border-color: #2c2;") {{(0.333*canvasCTRL.data.cmax).toExponential(2)}}
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #cc2; border-color: #cc2;") {{(0.667*canvasCTRL.data.cmax).toExponential(2)}}
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #c22; border-color: #c22;") {{(canvasCTRL.data.cmax).toExponential(2)}}
                                        div(class="btn-group btn-group-sm btn-group-justified"  ng-show="!canvasCTRL.data.settings.legendVertical" ng-click="canvasCTRL.data.settings.legendVertical=!canvasCTRL.data.settings.legendVertical")
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #c2c; border-color: #c2c;") {{(canvasCTRL.data.cmin).toExponential(2)}}
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #22c; border-color: #22c;") {{(0.667*canvasCTRL.data.cmin).toExponential(2)}}
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #2cc; border-color: #2cc;") {{(0.333*canvasCTRL.data.cmin).toExponential(2)}}
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #ccc; border-color: #ccc;") 0
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #2c2; border-color: #2c2;") {{(0.333*canvasCTRL.data.cmax).toExponential(2)}}
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #cc2; border-color: #cc2;") {{(0.667*canvasCTRL.data.cmax).toExponential(2)}}
                                            a(class="btn btn-sm btn-primary btn-success" style="background-color: #c22; border-color: #c22;") {{(canvasCTRL.data.cmax).toExponential(2)}}

                                br


                                div(class="row")
                                    div(class="col-xs-12")
                                        div(class="panel panel-default")
                                            div(class="panel-heading")
                                                div(class="panel-title" )
                                                    div Features
                                            div(class="panel-body")
                                                //-div(class="container")
                                                div(class="row")
                                                    div(class="form-group")
                                                        div(class="col-xs-2")
                                                            input(ng-model="canvasCTRL.data.settings.showEpure" type="checkbox" class="form-control input-md")
                                                        div(class="col-xs-10" ng-click="canvasCTRL.data.settings.showEpure = !canvasCTRL.data.settings.showEpure")
                                                            h4 show epure
                                                div(class="row")
                                                    div(class="form-group")
                                                        div(class="col-xs-2")
                                                            input(ng-model="canvasCTRL.data.settings.showControlPointsData" type="checkbox" class="form-control input-md")
                                                        div(class="col-xs-10" ng-click="canvasCTRL.data.settings.showControlPointsData = !canvasCTRL.data.settings.showControlPointsData")
                                                            h4 show control points
                                                div(class="row")
                                                    div(class="form-group")
                                                        div(class="col-xs-2")
                                                            input(ng-model="canvasCTRL.data.settings.showMemoutTable" type="checkbox" class="form-control input-md")
                                                        div(class="col-xs-10")
                                                            div(class="row")
                                                                div(class="col-xs-6" ng-click="canvasCTRL.data.settings.showMemoutTable = !canvasCTRL.data.settings.showMemoutTable")
                                                                    h4
                                                                        span show data table&nbsp;
                                                                        span(class="text-warning") (Mises)
                                                                div(class="col-xs-6")
                                                                    input(ng-model="canvasCTRL.data.settings.memoutStep" type="number" class="form-control input-md")
                                                div(class="row")
                                                    div(class="form-group")
                                                        div(class="col-xs-2")
                                                            input(ng-model="canvasCTRL.data.settings.showCentralObject" type="checkbox" class="form-control input-md")
                                                        div(class="col-xs-10" ng-click="canvasCTRL.data.settings.showCentralObject = !canvasCTRL.data.settings.showCentralObject")
                                                            h4 show central object
                                                div(class="row")
                                                    div(class="form-group")
                                                        div(class="col-xs-2")
                                                            input(ng-model="canvasCTRL.data.settings.showBorderLines" type="checkbox" class="form-control input-md")
                                                        div(class="col-xs-10" ng-click="canvasCTRL.data.settings.showBorderLines = !canvasCTRL.data.settings.showBorderLines")
                                                            h4 show border lines

                                div(class="row")
                                    div(class="col-xs-12")
                                        div(class="panel panel-default")
                                            div(class="panel-heading")
                                                div(class="panel-title" )
                                                    div cmin, cmax
                                            div(class="panel-body")
                                                //-div(class="container")
                                                div(class="row")
                                                    div(class="form-group")
                                                        //-div(class="col-xs-2")
                                                            //-input(ng-model="canvasCTRL.data.settings.showEpure" type="checkbox" class="form-control input-md")
                                                        div(class="col-xs-12")
                                                            h4 cmin: {{canvasCTRL.data.cmin.toFixed(3)}}, cmax: {{canvasCTRL.data.cmax.toFixed(3)}}
                                                div(class="row")
                                                    div(class="form-group")
                                                        div(class="col-xs-2")
                                                            h4 cmin
                                                        div(class="col-xs-4")
                                                            input(ng-model="canvasCTRL.data.cmin" type="number" class="form-control input-md")
                                                            //-h4 cmin: {{canvasCTRL.data.cmin.toFixed(3)}}, cmax: {{canvasCTRL.data.cmax.toFixed(3)}}
                                                        div(class="col-xs-2")
                                                            button(class="btn btn-default" ng-click="canvasCTRL.changeCminCmax({cmin: -1e5})") -1e5
                                                        div(class="col-xs-2")
                                                            button(class="btn btn-default" ng-click="canvasCTRL.changeCminCmax({cmin: -1e6})") -1e6
                                                        div(class="col-xs-2")
                                                            button(class="btn btn-default" ng-click="canvasCTRL.changeCminCmax({cmin: -5e6})") -5e6
                                                div(class="row")
                                                    div(class="form-group")
                                                        div(class="col-xs-2")
                                                            h4 cmax
                                                        div(class="col-xs-4")
                                                            input(ng-model="canvasCTRL.data.cmax" type="number" class="form-control input-md")
                                                        div(class="col-xs-2")
                                                            button(class="btn btn-default" ng-click="canvasCTRL.changeCminCmax({cmax: 1e5})") &nbsp;1e5
                                                        div(class="col-xs-2")
                                                            button(class="btn btn-default" ng-click="canvasCTRL.changeCminCmax({cmax: 1e6})") &nbsp;1e6
                                                        div(class="col-xs-2")
                                                            button(class="btn btn-default" ng-click="canvasCTRL.changeCminCmax({cmax: 5e6})") &nbsp;5e6
                                                div(class="row")
                                                    div(class="form-group")
                                                        div(class="col-xs-12")
                                                            button(class="btn btn-default" ng-click="canvasCTRL.changeCminCmax()") Change cmin, cmax


                                div(class="row")
                                    div(class="panel panel-default")
                                        div(class="panel-body")
                                            button(class="btn btn-sm" ng-class="{'btn-success': canvasCTRL.data.settings.filter.enabled, 'btn-default': !canvasCTRL.data.settings.filter.enabled}" ng-click="canvasCTRL.toggleFilterState()") Toggle filter
                                            span(class="text-warning" ng-show="canvasCTRL.data.settings.filter.enabled")  Filter should be reworked due to min to zero and zero to max values
                                            br
                                            div(class="row" ng-show="canvasCTRL.data.settings.filter.enabled")
                                                div(class="col-xs-12")
                                                    div(class="btn-group btn-group-sm btn-group-justified")
                                                        a(class="btn btn-sm btn-primary" ng-class="{'btn-success':$index== canvasCTRL.data.settings.filter.leftBorder, 'disabled': !canvasCTRL.data.settings.filter.enabled || $index >= canvasCTRL.data.settings.filter.rightBorder}" ng-repeat=" leftBorder in canvasCTRL.filterPartsValues" ng-click=" canvasCTRL.changeFilterLeftBorder($index)") {{leftBorder}}
                                            div(class="row" ng-show="canvasCTRL.data.settings.filter.enabled")
                                                div(class="col-xs-12")
                                                    div(class="btn-group btn-group-sm btn-group-justified")
                                                        a(class="btn btn-sm btn-primary" ng-class="{'btn-success':$index==canvasCTRL.data.settings.filter.rightBorder, 'disabled': !canvasCTRL.data.settings.filter.enabled || $index <= canvasCTRL.data.settings.filter.leftBorder}" ng-repeat="rightBorder in canvasCTRL.filterPartsValues" ng-click="canvasCTRL.changeFilterRightBorder($index)") {{rightBorder}}

                                div(class="row")
                                    div(class="panel panel-default")
                                        div(class="panel-body")
                                            button(class="btn btn-sm" ng-class="{'btn-success': canvasCTRL.data.settings.amplifyColors, 'btn-default': !canvasCTRL.data.settings.amplifyColors}" ng-click="canvasCTRL.toggleAmplifyState()") Toggle amplify
                                            br
                                            div(class="row" ng-show="canvasCTRL.data.settings.amplifyColors")
                                                div(class="col-xs-12")
                                                    div(class="btn-group btn-group-sm btn-group-justified")
                                                        a(class="btn btn-sm btn-primary" ng-class="{'btn-success':canvasCTRL.amplifyValues[$index] == canvasCTRL.data.settings.amplifyCoef, 'disabled': !canvasCTRL.data.settings.amplifyColors}" ng-repeat="amplifyValue in canvasCTRL.amplifyValues" ng-click=" canvasCTRL.changeAmplifyValue($index)") {{amplifyValue}}


                                //-div
                                    div(class="row")
                                        div(class="panel panel-default")
                                            div(class="panel-body")
                                                div(class="form-group")
                                                    div(class="col-xs-2")
                                                        input(ng-model="canvasCTRL.data.settings.showEpure" type="checkbox" class="form-control input-md")
                                                    div(class="col-xs-10" ng-click="canvasCTRL.data.settings.showEpure = !canvasCTRL.data.settings.showEpure")
                                                        h4 show epure

                                    div(class="row")
                                        div(class="panel panel-default")
                                            div(class="panel-body")
                                                div(class="form-group")
                                                    div(class="col-xs-2")
                                                        input(ng-model="canvasCTRL.data.settings.showControlPointsData" type="checkbox" class="form-control input-md")
                                                    div(class="col-xs-10" ng-click="canvasCTRL.data.settings.showControlPointsData = !canvasCTRL.data.settings.showControlPointsData")
                                                        h4 show control points

                                    div(class="row")
                                        div(class="panel panel-default")
                                            div(class="panel-body")
                                                div(class="form-group")
                                                    div(class="col-xs-2")
                                                        input(ng-model="canvasCTRL.data.settings.showMemoutTable" type="checkbox" class="form-control input-md")
                                                    div(class="col-xs-10" ng-click="canvasCTRL.data.settings.showMemoutTable = !canvasCTRL.data.settings.showMemoutTable")
                                                        h4 show data table (Mises, need config)

                                    div(class="row")
                                        div(class="panel panel-default")
                                            div(class="panel-body")
                                                div(class="form-group")
                                                    div(class="col-xs-2")
                                                        input(ng-model="canvasCTRL.data.settings.showCentralObject" type="checkbox" class="form-control input-md")
                                                    div(class="col-xs-10" ng-click="canvasCTRL.data.settings.showCentralObject = !canvasCTRL.data.settings.showCentralObject")
                                                        h4 show central object

        //- TODO nbsp is not a solution of HTML layout
        div(ng-controller="jBBLHepureController as epureView" ng-show="epureView.visible")
            div(class="container" ng-show="epureView.showEpure")
                div(class="row")
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                div(class="row")
                    div(class="col-xs-12 text-center")
                        div(data-placement="right" data-original-title="Tooltip on right") Wave epure
                        div
                            canvas(id="waveShape" width="800" height="800")

        div(ng-controller="jBBLHControlPointsController as controlPointsCtrl" ng-show="controlPointsCtrl.visible")
            div(class="container" ng-show="controlPointsCtrl.showCtrlPoints")
                div(class="row")
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                div(class="row")
                    section(class="tab")
                        ul(class="nav nav-tabs")
                            li(ng-repeat="tabName in controlPointsCtrl.dataNames track by $index" ng-class="{active: controlPointsCtrl.isSet($index)}" )
                                a(href ng-click="controlPointsCtrl.setTab($index)") {{tabName}}

                        //- memOut[dataLayer][time][radius][angle]
                        div(ng-repeat="tabName in controlPointsCtrl.dataNames track by $index" ng-show="controlPointsCtrl.isSet( {{$index}} )")
                            div(id="dataCP{{tabName}}")

                                div(class="row")
                                    div(class="col-xs-12 text-center")
                                        canvas(id="diagramCP{{$index}}" width="800" height="800")

                                //- ctrlPoints [index][layer][time] -> value
                                table(class="table table-striped table-hover")
                                    tbody
                                        thead
                                            th
                                                span T \ Points
                                            th(ng-repeat="pointIndex in controlPointsCtrl.ctrlPoints track by $index" )
                                                span Point{{$index}} (R:{{controlPointsCtrl.data.controlPoints[$index].radius.toFixed(3)}}, θ:{{controlPointsCtrl.data.controlPoints[$index].angle.toFixed(1)}})

                                        tr(ng-repeat="timeIndex in controlPointsCtrl.ctrlPoints[0][0] track by $index" )
                                            td
                                                span {{controlPointsCtrl.getTimeByTimeIndex($index).toFixed(2)}}
                                            td(ng-repeat="pointIndex in controlPointsCtrl.ctrlPoints track by $index" )
                                                //-span {{controlPointsCtrl.ctrlPoints[$index][controlPointsCtrl.currentTabIndex][$parent.$index].toFixed(6)}}
                                                span {{controlPointsCtrl.ctrlPoints[$index][controlPointsCtrl.currentTabIndex][$parent.$index].toExponential(3)}}


        div(ng-controller="jBBLHmemoutController as memoutView" ng-show="memoutView.visible")
            //-a(id="buttonShowDataTable" class="btn-sm btn-primary" ng-click="memoutView.toggleDataTable()") Show data table
            div(class="container" ng-show="memoutView.showData")
                div(class="row")
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                    p &nbsp;
                div(class="row")
                    section(class="tab")
                        ul(class="nav nav-tabs")
                            li(ng-repeat="tabName in memoutView.dataNames track by $index" ng-class="{active: memoutView.isSet($index)}" )
                                a(href ng-click="memoutView.setTab($index)") {{tabName}}
                        //- limitedData[dataLayer][time][radius][angle]

                        div(ng-repeat="tabName in memoutView.dataNames track by $index" ng-show="memoutView.isSet( {{$index}} )")
                            div(id="data{{tabName}}")
                                div(class="row" ng-repeat="currentTime in memoutView.timeIndicies track by $index")
                                    div T = {{(memoutView.timeValues[$index]).toFixed(2)}}
                                    table(class="table table-striped table-hover")
                                        tbody
                                            thead
                                                th(style="min-width: 75px;")
                                                    span X \ ∠
                                                th(ng-repeat="angleValue in memoutView.angleValues track by $index" class="active text-right")
                                                    span {{angleValue.toFixed(6)}}
                                            tr(ng-repeat="currentRadius in memoutView.radiusIndicies track by $index" )
                                                td
                                                    span {{memoutView.getLayerNumberByCoordinate(memoutView.radiusValues[currentRadius])}} {{(memoutView.radiusValues[currentRadius]).toFixed(2)}}
                                                td(ng-repeat="currentAngle in memoutView.angleIndicies track by $index" )
                                                    span {{memoutView.data.memout[$parent.$parent.$parent.$index][currentTime][currentRadius][currentAngle].toExponential(2)}}

                        //- By time
                        //-div(ng-repeat="tabName in memoutView.dataNames track by $index" ng-show="memoutView.isSet( {{$index}} )")
                            div(id="data{{tabName}}")
                                div(class="row" ng-repeat="currentTime in memoutView.data.memout[$index] track by $index")
                                    div T = {{(memoutView.timeValues[$index]).toFixed(2)}}
                                    table(class="table table-striped table-hover")
                                        tbody
                                            thead
                                                th(style="min-width: 75px;")
                                                    span X \ ∠
                                                th(ng-repeat="angleValue in memoutView.data.angles track by $index" class="active text-right")
                                                    span {{angleValue.toFixed(6)}}
                                            tr(ng-repeat="currentRadius in memoutView.data.memout[$parent.$index][$index] track by $index" )
                                                td
                                                    span {{memoutView.getLayerNumberByCoordinate(memoutView.data.STEPX * $index)}} {{(memoutView.radiusValues[$index]).toFixed(2)}}
                                                td(ng-repeat="currentAngle in memoutView.data.memout[$parent.$parent.$index][$parent.$index][$index] track by $index" )
                                                    span {{memoutView.data.memout[$parent.$parent.$parent.$index][$parent.$parent.$index][$parent.$index][$index].toExponential(2)}}

                        //- By coord
                        //-div(ng-repeat="tabName in memoutView.dataNames track by $index" ng-show="memoutView.isSet( {{$index}} )")
                            div(id="data{{tabName}}")
                                div(class="row" ng-repeat="currentRadius in memoutView.data.memout[$index][0] track by $index")
                                    //-div r = {{BBDataCtrl.data.radiusValues[$index].value.toFixed(2)}}
                                    table(class="table table-striped table-hover")
                                        tbody
                                            thead
                                                th
                                                    span T \ ∠
                                                th(ng-repeat="angleValue in memoutView.data.angles track by $index" class="active text-right")
                                                    span {{angleValue.toFixed(6)}}
                                            tr(ng-repeat="currentTime in memoutView.data.memout[$parent.$index] track by $index" )
                                                td
                                                    span {{(memoutView.data.STEP * $index).toFixed(2)}}
                                                td(ng-repeat="currentAngle in memoutView.data.memout[$parent.$parent.$index][$index][$parent.$index] track by $index" )
                                                    span {{memoutView.data.memout[$parent.$parent.$parent.$index][$parent.$index][$parent.$parent.$index][$index].toExponential(2)}}