//
   Created by jaric on 10.08.2016.

doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title= "BBL view"
        script(data-main="javascripts/BBLviewBootstrap", src="/javascripts/require.js")
        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        div(ng-controller="jBBLfileListController as fileList" ng-show="fileList.visible")
            input(ng-model="fileList.searchString" type="text" class="form-control" placeholder="Search")

            div(ng-repeat="file in fileList.allFiles | filter: { path: fileList.searchString } track by $index ")
                a()
                    h4(ng-click="fileList.loadDataFile(file)") {{file.path}}

        div(ng-controller="jBBLcanvasHolderController as canvasHolder")
