//
   Created by jaric on 10.08.2016.

doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title= "BBL view"
        script(data-main="javascripts/BBLviewBootstrap", src="/javascripts/require.js")
        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        div(ng-controller="jBBLfileListController as fileList" ng-show="fileList.visible")
            input(ng-model="fileList.searchString" type="text" class="form-control" placeholder="Search")

            div(ng-repeat="file in fileList.allFiles | orderBy: '-path' | filter: { path: fileList.searchString } track by $index ")
                h4
                    a(ng-click="fileList.loadDataFile(file)") {{file.path}}


        div(ng-controller="jBBLloadingController as loading" ng-show="loading.visible")
            img(src="/images/30_2.gif" width="100%")

        div(ng-controller="jBBLcanvasHolderController as canvasHolder" ng-show="canvasHolder.visible")
            //-div(id="statsHolder")
            div(class="container")
                div(class="row")
                    div(class="text-center")
                        div(id="mainCanvasHolder")

        div(ng-controller="jBBLscrollController as scroll" ng-show="scroll.visible")
            input(id="scrollValue" type="text" class="input-sm" ng-model="scroll.scrollPos")
            div(id="timeScroll")
                div(id="timeInner")
                    span &nbsp;

        div(ng-controller="jBBLcanvasController as canvasCTRL" ng-show="canvasCTRL.visible")
            //-a(id="buttonHideStats" class="btn btn-default" ng-click="canvasCTRL.hideStats()") X

            div(id="settingsPanel" class="panel panel-default")
                div(class="panel-heading")
                    div(class="panel-title")
                        div(class="btn" ng-click="canvasCTRL.isSettingsCollapsed = !canvasCTRL.isSettingsCollapsed") Settings
                div(collapse="canvasCTRL.isSettingsCollapsed")
                    div(class="panel-body")
                        div(class="input-group")
                            span(class="input-group-addon") Схема данных
                            span(class="input-group-btn")
                                button(ng-repeat="schemeIndex in canvasCTRL.dataNames" class="btn btn-sm btn-primary" ng-click="canvasCTRL.changeSchemeIndex($index)") {{schemeIndex}}

                        p
                            div(class="input-group")
                                span(class="input-group-addon") Тип визуализации
                                span(class="input-group-btn")
                                    button(ng-repeat="visualisationSchemeIndex in ['Rainbow', 'HSV','Red-White-Blue']" class="btn btn-sm btn-primary" ng-click="canvasCTRL.changeVisualisationSchemeIndex($index)") {{visualisationSchemeIndex}}

                        //-p
                            button(class="btn btn-sm" ng-class="{'btn-primary': canvasCTRL.data.settings.filter.enabled, 'btn-default': !canvasCTRL.data.settings.filter.enabled}" ng-click="canvasCTRL.toggleFilterState()") Toggle filter
                            div(class="btn-group")
                                button(class="btn btn-sm btn-primary" ng-class="{'btn-success':$index== canvasCTRL.data.settings.filter.leftBorder, 'disabled': !canvasCTRL.data.settings.filter.enabled || $index >= canvasCTRL.data.settings.filter.rightBorder}" ng-repeat=" leftBorder in canvasCTRL.filterPartsValues" ng-click=" canvasCTRL.changeFilterLeftBorder($index)") {{leftBorder}}
                            div(class="btn-group")
                                button(class="btn btn-sm btn-primary" ng-class="{'btn-success':$index==canvasCTRL.data.settings.filter.rightBorder, 'disabled': !canvasCTRL.data.settings.filter.enabled || $index  <  canvasCTRL.data.settings.filter.leftBorder}" ng-repeat="rightBorder in canvasCTRL.filterPartsValues" ng-click="canvasCTRL.changeFilterRightBorder($index)") {{rightBorder}}

                        div(class="panel panel-default")
                            div(class="panel-body")
                                button(class="btn btn-sm" ng-class="{'btn-primary': canvasCTRL.data.settings.filter.enabled, 'btn-default': !canvasCTRL.data.settings.filter.enabled}" ng-click="canvasCTRL.toggleFilterState()") Toggle filter
                                div(class="btn-group")
                                    button(class="btn btn-sm btn-primary" ng-class="{'btn-success':$index== canvasCTRL.data.settings.filter.leftBorder, 'disabled': !canvasCTRL.data.settings.filter.enabled || $index >= canvasCTRL.data.settings.filter.rightBorder}" ng-repeat=" leftBorder in canvasCTRL.filterPartsValues" ng-click=" canvasCTRL.changeFilterLeftBorder($index)") {{leftBorder}}
                                div(class="btn-group")
                                    button(class="btn btn-sm btn-primary" ng-class="{'btn-success':$index==canvasCTRL.data.settings.filter.rightBorder, 'disabled': !canvasCTRL.data.settings.filter.enabled || $index <= canvasCTRL.data.settings.filter.leftBorder}" ng-repeat="rightBorder in canvasCTRL.filterPartsValues" ng-click="canvasCTRL.changeFilterRightBorder($index)") {{rightBorder}}

                        p Amplify settings?

                        p show control points

                        p show control points graphs

                        p show memout, memout settings

                        p show epure

            //-div(id="buttonsGroupSchemeIndex" class="btn-group")
                a(class="btn btn-sm btn-primary") scheme
                a(ng-repeat="schemeIndex in [1,2,3,4,5]" href="#" class="btn btn-sm btn-primary" ng-click="canvasCTRL.changeSchemeIndex($index)") {{schemeIndex}}
            //-div(id="buttonsGroupVisualisationSchemeIndex" class="btn-group")
                a(class="btn btn-sm btn-primary") visScheme
                a(ng-repeat="visualisationSchemeIndex in [1,2]" href="#" class="btn btn-sm btn-primary" ng-click="canvasCTRL.changeVisualisationSchemeIndex($index)") {{visualisationSchemeIndex}}

        div(ng-controller="jBBLmemoutController as memoutView" ng-show="memoutView.visible")
            //-a(id="buttonShowDataTable" class="btn-sm btn-primary" ng-click="memoutView.toggleDataTable()") Show data table
            div(class="container" ng-show="memoutView.showData")
                div(class="row")
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                div(class="row")
                    section(class="tab")
                        ul(class="nav nav-tabs")
                            li(ng-repeat="tabName in memoutView.dataNames track by $index" ng-class="{active: memoutView.isSet($index)}" )
                                a(href ng-click="memoutView.setTab($index)") {{tabName}}
                        //- limitedData[dataLayer][time][radius][angle]

                        //- By time
                        div(ng-repeat="tabName in memoutView.dataNames track by $index" ng-show="memoutView.isSet( {{$index}} )")
                            div(id="data{{tabName}}")
                                div(class="row" ng-repeat="currentTime in memoutView.data.memout[$index] track by $index")
                                    div T = {{(memoutView.timeValues[$index]).toFixed(2)}}
                                    table(class="table table-striped table-hover")
                                        tbody
                                            thead
                                                th(style="min-width: 75px;")
                                                    span X \ ∠
                                                th(ng-repeat="angleValue in memoutView.data.angles track by $index" class="active text-right")
                                                    span {{angleValue.toFixed(6)}}
                                            tr(ng-repeat="currentRadius in memoutView.data.memout[$parent.$index][$index] track by $index" )
                                                td
                                                    span {{memoutView.getLayerNumberByCoordinate(memoutView.data.STEPX * $index)}} {{(memoutView.radiusValues[$index]).toFixed(2)}}
                                                td(ng-repeat="currentAngle in memoutView.data.memout[$parent.$parent.$index][$parent.$index][$index] track by $index" )
                                                    span {{memoutView.data.memout[$parent.$parent.$parent.$index][$parent.$parent.$index][$parent.$index][$index].toExponential(2)}}

                        //- By coord
                        //-div(ng-repeat="tabName in memoutView.dataNames track by $index" ng-show="memoutView.isSet( {{$index}} )")
                            div(id="data{{tabName}}")
                                div(class="row" ng-repeat="currentRadius in memoutView.data.memout[$index][0] track by $index")
                                    //-div r = {{BBDataCtrl.data.radiusValues[$index].value.toFixed(2)}}
                                    table(class="table table-striped table-hover")
                                        tbody
                                            thead
                                                th
                                                    span T \ ∠
                                                th(ng-repeat="angleValue in memoutView.data.angles track by $index" class="active text-right")
                                                    span {{angleValue.toFixed(6)}}
                                            tr(ng-repeat="currentTime in memoutView.data.memout[$parent.$index] track by $index" )
                                                td
                                                    span {{(memoutView.data.STEP * $index).toFixed(2)}}
                                                td(ng-repeat="currentAngle in memoutView.data.memout[$parent.$parent.$index][$index][$parent.$index] track by $index" )
                                                    span {{memoutView.data.memout[$parent.$parent.$parent.$index][$parent.$index][$parent.$parent.$index][$index].toExponential(2)}}