//
   Created by jaric on 10.08.2016.

doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title= "BBL view"
        script(data-main="javascripts/BBLviewBootstrap", src="/javascripts/require.js")
        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body

        div(ng-controller="jBBLfileListController as fileList" ng-show="fileList.visible")
            input(ng-model="fileList.searchString" type="text" class="form-control" placeholder="Search")

            div(ng-repeat="file in fileList.allFiles | orderBy: 'path' | filter: { path: fileList.searchString } track by $index ")
                a()
                    h4(ng-click="fileList.loadDataFile(file)") {{file.path}}

        div(ng-controller="jBBLloadingController as loading" ng-show="loading.visible")
            img(src="/images/30_2.gif" width="100%")

        div(ng-controller="jBBLcanvasHolderController as canvasHolder" ng-show="canvasHolder.visible")
            div(id="statsHolder")
            div(class="container")
                div(class="row")
                    div(id="mainCanvasHolder")

        div(ng-controller="jBBLscrollController as scroll" ng-show="scroll.visible")
            input(id="scrollValue" type="text" ng-model="scroll.scrollPos")
            div(id="timeScroll")
                div(id="timeInner")
                    span &nbsp;

        //-div(ng-controller="jBBLmemoutController as memoutView" ng-show="memoutView.visible")
            div(class="container")
                div(class="row")
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                    p some filling
                div(class="row")
                    section(class="tab")
                        ul(class="nav nav-tabs")
                            li(ng-repeat="tabName in memoutView.dataNames track by $index" ng-class="{active: memoutView.isSet($index)}" )
                                a(href ng-click="memoutView.setTab($index)") {{tabName}}
                        //- limitedData[dataLayer][time][radius][angle]

                        //- By time
                        div(ng-repeat="tabName in memoutView.dataNames track by $index" ng-show="memoutView.isSet( {{$index}} )")
                            div(id="data{{tabName}}")
                                div(class="row" ng-repeat="currentTime in memoutView.data.memout[$index] track by $index")
                                    div T = {{(memoutView.timeValues[$index]).toFixed(2)}}
                                    table(class="table table-striped table-hover")
                                        tbody
                                            thead
                                                th
                                                    span T \ ∠
                                                th(ng-repeat="angleValue in memoutView.data.angles track by $index" class="active text-right")
                                                    span {{angleValue.toFixed(6)}}
                                            tr(ng-repeat="currentRadius in memoutView.data.memout[$parent.$index][$index] track by $index" )
                                                td
                                                    span {{(memoutView.radiusValues[$index]).toFixed(2)}}
                                                td(ng-repeat="currentAngle in memoutView.data.memout[$parent.$parent.$index][$parent.$index][$index] track by $index" )
                                                    span {{memoutView.data.memout[$parent.$parent.$parent.$index][$parent.$parent.$index][$parent.$index][$index].toExponential(2)}}

                        //- By coord
                        //-div(ng-repeat="tabName in memoutView.dataNames track by $index" ng-show="memoutView.isSet( {{$index}} )")
                            div(id="data{{tabName}}")
                                div(class="row" ng-repeat="currentRadius in memoutView.data.memout[$index][0] track by $index")
                                    //-div r = {{BBDataCtrl.data.radiusValues[$index].value.toFixed(2)}}
                                    table(class="table table-striped table-hover")
                                        tbody
                                            thead
                                                th
                                                    span T \ ∠
                                                th(ng-repeat="angleValue in memoutView.data.angles track by $index" class="active text-right")
                                                    span {{angleValue.toFixed(6)}}
                                            tr(ng-repeat="currentTime in memoutView.data.memout[$parent.$index] track by $index" )
                                                td
                                                    span {{(memoutView.data.STEP * $index).toFixed(2)}}
                                                td(ng-repeat="currentAngle in memoutView.data.memout[$parent.$parent.$index][$index][$parent.$index] track by $index" )
                                                    span {{memoutView.data.memout[$parent.$parent.$parent.$index][$parent.$index][$parent.$parent.$index][$index].toExponential(2)}}