//
   Created by jaric on 26.11.2014.

doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title= "BB client side calculations"
        script(data-main="javascripts/clientCalc", src="/javascripts/require.js")
        //script(src="javascripts/clientCalcWorkerController.js")

        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src="/javascripts/angular.js")
        script(src='/javascripts/ui-bootstrap-tpls-0.12.0.js')

        script(src="/javascripts/clientCalcApp/jClientCalcApp.js")
        script(src="/javascripts/ClientCalcApp/jClientCalcControllers.js")

    body(ng-app="jClientCalcApp")
        div(id="currentTime")
        div(ng-controller="jClientCalcController as CalcCtrl")
            div(class="container" ng-show="true")

                div(class="row")
                    div(id="fontSetter" style="float: right;")
                        h5(ng-click="CalcCtrl.changeBodyFontSize(12)") Aa
                        h4(ng-click="CalcCtrl.changeBodyFontSize(14)") Aa
                        h3(ng-click="CalcCtrl.changeBodyFontSize(16)") Aa
                        h5(ng-click="CalcCtrl.calcAllWatchers()") calc all watchers

                div(class="row")
                    h3 S0 = {{CalcCtrl.data.inputData.needRealValues ? CalcCtrl.data.S0 *CalcCtrl.data.C2*CalcCtrl.data.RC2*1E-06 : CalcCtrl.data.S0}}
                div(class="row")
                    h3 S = {{CalcCtrl.data.geomprocS}}
                div(class="row")
                    h3 L = {{CalcCtrl.data.geomprocL}}

                div(class="row")
                    h3(class="text-warning") memOut isn't source of data for now
                    h3(class="text-warning") Uncomment what you need otherwise loading takes about minute and a half (with $scope.$digest() twice faster)

                //-div(class="row" )
                    a(class="btn btn-primary" ng-click="this.showS11 = !this.showS11") BBdat/2016.02/!S11.dat (expand/collapse)
                    table(ng-show="this.showS11" class="table table-striped table-hover")
                        tbody
                            tr(ng-repeat="s11Str in CalcCtrl.data.files['BBdat/2016.02/!S11.dat'].buffers track by $index")
                                td(ng-repeat="subStr in s11Str.toString().split('   ') track by $index")
                                    span {{subStr}}

                div(class="row")
                    a(class="btn btn-primary" ng-click="this.showCavform = !this.showCavform") BBdat/_Cavform.dat (expand/collapse)
                    table(ng-show="this.showCavform" class="table table-striped table-hover")
                        tbody
                            tr(ng-repeat="cavStr in CalcCtrl.data.files['BBdat/_Cavform.dat'].buffers track by $index")
                                td(ng-repeat="subStr in cavStr.toString().split(' ') track by $index")
                                    span {{subStr}}

                div(class="row")
                    a(class="btn btn-primary" ng-click="this.showWindow = !this.showWindow") showWindow (expand/collapse)
                    table(ng-show="this.showWindow" class="table table-striped table-hover")
                        tbody
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}
                            tr(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                td(ng-repeat="(key, value) in [0,1,2,3,4,5,6,7]")
                                    span {{key}}

                //-div(class="row")
                    div(class="col-xs-12")

                        div(class="text-danger") add 'V01', 'V02', 'S011', 'S012', 'S022'
                        div(id="dataHolder")

                            section(class="tab" ng-controller="TabController as tab")
                                ul(class="nav nav-tabs")
                                    li(ng-repeat="tabName in CalcCtrl.dataNames track by $index" ng-class="{active: tab.isSet($index)}" )
                                        a(href ng-click="tab.setTab($index)") {{tabName}}

                                div(ng-repeat="tabName in CalcCtrl.dataNames track by $index" ng-show="tab.isSet( {{$index}} )")
                                    div(id="data{{tabName}}")
                                        div(class="row" ng-repeat="currentCoord in CalcCtrl.data.memOut[$index] track by $index")
                                            table(class="table table-striped table-hover")
                                                caption X = {{($index * CalcCtrl.data.STEPX).toFixed(2)}}
                                                tbody
                                                    thead
                                                        th
                                                            //-span T \ ∠
                                                            span(style="float:left;") T
                                                            span(style="float:right;") ∠
                                                        th(ng-repeat="angleValue in CalcCtrl.data.TP track by $index" ng-if="angleValue != null" class="active text-right")
                                                            span {{angleValue}}

                                                    tr(ng-repeat="currentTimeStamp in currentCoord track by $index" )
                                                        td(width="{{1/(currentCoord[0].length+1)*100}}%" class="active")
                                                            span {{($index * CalcCtrl.data.STEP).toFixed(2)}}
                                                        td(width="{{1/(currentCoord[0].length+1)*100}}%" ng-repeat="currentAngle in currentTimeStamp track by $index" ng-click="CalcCtrl.changeCellValueOnServer(this)" class="text-right")
                                                            span {{currentAngle | numberFilter}}
                                                        td(width="{{1/(currentCoord[0].length+1)*100}}%" ng-repeat="fakeAngle in currentCoord[0] track by $index" ng-if="currentTimeStamp.length == 0" class="danger")
                                                            span &nbsp;
