//
   Created by jaric on 26.11.2014.

doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title= "BB client side calculations"
        script(data-main="javascripts/clientCalc", src="/javascripts/require.js")

        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src="/javascripts/angular.js")
        script(src='/javascripts/ui-bootstrap-tpls-0.12.0.js')

        script(src="/javascripts/clientCalcApp/jClientCalcApp.js")
        script(src="/javascripts/ClientCalcApp/jClientCalcControllers.js")

    body(ng-app="jClientCalcApp")
        div(id="currentTime")
        div(ng-controller="jClientCalcController as CalcCtrl")
