//
   Created by jaric on 26.11.2014.

doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title= "BB client side calculations"
        script(data-main="javascripts/clientCalc", src="/javascripts/require.js")

        link(rel='stylesheet' href='/bootstrap/css/bootstrap.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

        script(src="/javascripts/angular.js")
        script(src='/javascripts/ui-bootstrap-tpls-0.12.0.js')

        script(src="/javascripts/clientCalcApp/jClientCalcApp.js")
        script(src="/javascripts/ClientCalcApp/jClientCalcControllers.js")

    body(ng-app="jClientCalcApp")
        div(id="currentTime")
        div(ng-controller="jClientCalcController as CalcCtrl")
            div(class="container" ng-show="true")
                div(class="row")
                    div(class="col-xs-12")
                        div(id="trainTable")
                            div(class="row")
                                div(class="col-xs-3")
                                    span rtetN = {{CalcCtrl.data.rtetN}}
                                div(class="col-xs-3")
                                    span rest
                                div(class="col-xs-3")
                                    span name
                                div(class="col-xs-3")
                                    span media

                            //-div(class="row" ng-repeat="attempt in activeTraining.attempts track by $index" ng-hide="attempt.passed")
                                div(class="col-xs-3")
                                    span {{TrainCtrl.getValueForTable($index, 0) | timeFilter}}
                                div(class="col-xs-3")
                                    span {{TrainCtrl.getValueForTable($index, 1) | timeFilter}}
                                div(class="col-xs-3")
                                    span {{attempt.name}}
                                div(class="col-xs-3")
                                    span &nbsp;
