//
   Created by jaric on 26.11.2014.

doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")

        title= "BB client side calculations"

        script(data-main="javascripts/requireStart", src="javascripts/require.js")

        //-script(src='/javascripts/numbers/src/numbers.js')
        //-script(src='/javascripts/async/lib/async.js')

        //-script(src='/javascripts/Func2.js')
        //-script(src='/javascripts/MatMult.js')
        //-script(src='/javascripts/BBstart.js')
        //-script(src='/javascripts/BBcount.js')
        //-script(src='/javascripts/BBup.js')

        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        | 123