doctype html
html
    head
        title= "33bb"
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        h1 33bb
        p
            h1
                a(href='/hc') multiple layer + H, client calculations (/hc)
        p
            h1
                a(href='/hv') multiple layer + H, results (/hv)
        p
        p
            h3
                a(href='/c') multiple layer client calculations (/c)
        p
            h3
                a(href='/v') multiple layer results (/v)
        p
        //p
        //    a(href='/runcalc') Run (server side, /runcalc)
        //p
        //    a(href='/stopcalc') Stop (server side, /stopcalc)
        //p
        //    a(href='/t') Test (/t)
        p
            h3
                a(href='/calc') single layer client calculations (/calc)
        p
            h3
                a(href='/bb') single layer results (/bb)
