extends layout

block content
    h1= title
    p Welcome to #{title}
    p
        a(href='/runcalc') Run (server side, /runcalc)
    p
        a(href='/stopcalc') Stop (server side, /stopcalc)
    p
        a(href='/t') Test (/t)
    p
        h1
            a(href='/calc') Client calculations (/calc)
    p
        h1
            a(href='/bb') draw last result (/bb)
