extends layout

block content
    h1= title
    p Welcome to #{title}
    p
        a(href='/runcalc') Run (server side)
    p
        a(href='/stopcalc') Stop (server side)
    p
        a(href='/calc') Client (doesn't work)
    p
        a(href='/t') Test (actually calc)
    p
        a(href='/bb') BB
