//
   Created by jaric on 01.12.2014.
doctype html
html
    head
        meta(name="viewport", content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes")
        title= "BB test"
        script(data-main="javascripts/T", src="javascripts/require.js")
        //-script(src='/javascripts/numbers/src/numbers.js')
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        | test